.email-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: hidden;
  height: 100vh;
}

.full-width {
  width: 99vw;
}

.clipped {
  width: 40vw;
}

.email-container > .col-2 {
  flex: 40;
}

.email-container > .col-8 {
  flex: 60;
  height: 80vh;
  position: fixed;
  width: 60vw;
  right: 0;
}

.email-container > .col-10 {
  flex: 1;
  overflow-y: auto;
}

.email-container > hide {
  display: none;
}

.filter-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.filter-title {
padding: 8px;
color: #636363;
font-size: 16px;
font-weight: bold;
}

.filter {
  padding: 8px;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  color: #636363;
  font-size: 16px;
  font-weight: bold;
}

.filter.active {
  background-color: #E1E4EA;
  border: none;
  border: 1px solid #ccc;
}