.email-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.email-container > .col-2 {
  flex: 1;
}

.email-container > .col-8 {
  flex: 1;
}

.email-container > .col-10 {
  flex: 1;
}

.email-container > hide {
  display: none;
}